@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

em {
  font-style: normal;
}

.off-screen {
  position: absolute;
  z-index: -1px;
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .accodient-box::-webkit-scrollbar {
      width: 8px; /* 스크롤바의 너비 */
      /* display: block; */
    }
    .accodient-box::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #848484; /* 스크롤바의 색상 */
      border-radius: 10px;
    }
    .accodient-box::-webkit-scrollbar-track {
      background: #84848447; /*스크롤바 뒷 배경 색상*/
      border-radius: 10px;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */

    .custom-scroll-box::-webkit-scrollbar {
      width: 3px; /* 스크롤바의 너비 */

      /* display: block; */
    }
    .custom-scroll-box::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 (스크롤 Box height 대비 요소 수로 결정댐) */
      background: #f0516d; /* 스크롤바의 색상 */

      /* border-radius: 10px; */
    }
    .custom-scroll-box::-webkit-scrollbar-track {
      background: #fff; /*스크롤바 뒷 배경 색상*/
      /* border-radius: 10px; */
    }

    .custom-scroll-x-box::-webkit-scrollbar {
      width: 3px; /* 스크롤바의 너비 */
      height: 3px;

      /* display: block; */
    }

    .custom-scroll-x-box::-webkit-scrollbar-thumb {
      height: 3px; /* 스크롤바의 길이 (스크롤 Box height 대비 요소 수로 결정댐) */
      background: #f0516d; /* 스크롤바의 색상 */

      /* border-radius: 10px; */
    }

    .custom-scroll-x-box::-webkit-scrollbar-track {
      background: #fff; /*스크롤바 뒷 배경 색상*/
      /* border-radius: 10px; */
    }

    .shadow-left,
    .shadow-right {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50px; /* 필요한 크기로 조정 */
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        transparent
      ); /* 예시로 흰색 그라데이션 */
      z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
      pointer-events: none; /* 클릭 이벤트 차단 */
    }

    .shadow-left {
      left: 0;
      display: none; /* 기본적으로 숨김 */
    }

    .shadow-right {
      right: 0;
      display: none; /* 기본적으로 숨김 */
    }

    .boxboxbox {
      background-image: 
        /* Shadows */ linear-gradient(
          to right,
          white,
          white
        ),
        /* 왼쪽 그림자 */ linear-gradient(to right, white, white),
        /* 오른쪽 그림자 */ /* Shadow covers */
          linear-gradient(
            to right,
            rgba(0, 0, 0, 0.125),
            rgba(255, 255, 255, 0)
          ),
        /* 오른쪽 그림자 */
          linear-gradient(to left, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0)); /* 왼쪽 그림자 */

      background-position: left center, right center, left center, right center; /* 배경 위치 설정 */
      background-repeat: no-repeat; /* 반복하지 않음 */
      background-size: 30px 100%, 30px 100%, 15px 100%, 15px 100%; /* 배경 크기 설정 */
      background-attachment: local, local, scroll, scroll; /* 배경 고정 */
    }
  }
}
