.root {
  @apply flex cursor-pointer;

  [type='checkbox'] {
    @apply relative bg-primary30;

    padding: 2px;
    appearance: none;
    border-radius: 16px;
    width: 44px;
    height: 22px;
  }

  [type='checkbox']::before {
    @apply bg-grey00;

    content: '';
    position: absolute;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: left 250ms linear;
  }

  [type='checkbox']:checked {
    @apply bg-primary50;
  }

  [type='checkbox']:checked::before {
    @apply bg-grey00;
    left: 24px;
  }

  [type='checkbox']:disabled {
    @apply relative bg-grey20;

    opacity: 0.7;
    cursor: not-allowed;
  }

  [type='checkbox']:disabled:before {
    @apply bg-grey00;
  }

  [type='checkbox']:disabled {
    @apply bg-grey20;

    opacity: 0.7;
    cursor: not-allowed;
  }

  [type='checkbox']:checked:disabled {
    @apply bg-grey40;
  }

  /* [type='checkbox']:focus-visible {
    
  } */

  /* [type='checkbox']:enabled:hover {
    
  } */
}
